body{
font-family: "Montserrat", sans-serif;
line-height: 125%;
color: #25282B;
background: #F8FCFF ;
}

.container{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}