body{
font-family: "Montserrat", sans-serif;
line-height: 125%;
color: #25282B;
background: #F8FCFF ;
}

.container{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.header{
    min-height: 108px;
    line-height: 150%;
}
.header__inner {
    min-height: 108px;
    display: grid;
    grid-auto-columns: 1fr auto 1fr;
    gap: 15px;
    align-content: center;
    align-items: center;
}
.header__logo {
    max-width: 54px;
}
.headrt__socials {
    justify-content: end;
}
.nav {

}
.nav__list {
    display: flex;
    gap: 10px 30px;
    flex-wrap: wrap;
}
.nav__item {
}
.nav__link {
}
.socials {
    display: flex;
    gap: 10px 30px;
    flex-wrap: wrap;
}
.socials__item {
}
.socials__link {
}
/* ------------------------------------------------------------------------- */
.main{

}
.hero {
    padding: 120px 0;
    background: #25282B;
}
.container {
}
.hero__title {
}
.hero__list {
}
.hero__list-item {
}
.hero__button {
}
.hero__video {
}