body {
    background: #181E34;
    /* font-size: 16px; */
    line-height: 150%;
    color: #fff;
    font-family: "Montserrat", "Arial", sans-serif;
}

.container {
    max-width: 930px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* ============================================================================ */
.header{
    padding: 30px 0 36px;
}
.header-inner {
    display: flex;
    align-items: center;

}

.header-nav {
    margin-left: auto;
}

.header-list {
    display: flex;
}

.header-item {
    margin-right: 30px;
}

.header-button {
    border-radius: 100px;
    background:  #FFF;
    color: #2766AE;
    padding: 14px 30px;
    font-weight: 500;
}
/* ========================================================================= */
.hero{
    background: url("../img/hero-bg.jpg") 10% 50% / cover no-repeat;
}
.hero-title{
font-size: 40px;
font-weight: 600;
line-height: 49px;
text-transform: uppercase;
text-align: center;
margin-bottom: 60px;
}
.hero-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.hero-text{
    max-width: 436px;
}
.hero-text span{
    text-transform: uppercase;
    font-weight: 700;
    color: #01A2CB;
}
.paragraph{
    margin-bottom: 15px;
}
